.toolbarContainer {
  font-size: 24px;
  padding: 10px 12px;
  background-color: #fff;
  max-width: 600px;
  display: flex;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.02);
  display: flex;
  gap: 5px;
  cursor: default;
  z-index: 100;
}