.container {
  h4 {
    font-size: 16px;
    color: #b0b0b0;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }
  }

  .button {
    background-color: #2d2d2d;
    width: 98%;
  }
}