.container {
  label .toolContainer{
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    .tool {
      padding: 12px;
    }

    &:has(.choose) > .tool {
      padding-right: 0;
    }

    .choose {
      border: none;
      margin: 0;
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .toolContainer:hover {
    border: 1px solid #eeeeee;
  }

  input[type=radio] {
    display: none;

    &:checked + label .toolContainer {
      background-color: #f0f0f0;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid #fff;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      display: flex;
      align-items: center;
      cursor: default;

      .tool {
        padding: 12px;
      }

      &:has(.choose) > .tool {
        padding-right: 0;
      }
    }
  }
}
