@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: #E8E8E8;
    font-size: 14px;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

/*html {*/
/*    background-color: #E8E8E8;*/
/*    cursor: url('../../public/assets/icons/tools/pentool.png') 16 16, auto;*/
/*}*/

.canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*cursor: url('../../public/assets/icons/cursors/move.png') 1 2, auto;*/
    overflow: hidden;
}